.dropzone-container {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preview-image {
  object-fit: cover;
}

.camera-overlay {
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropzone-container:hover .camera-overlay {
  opacity: 1;
}